/* Dark mode styles */

/* Change the background color */
body {
    background-color: #303030;
}

/* Change the text color */
body, p, span, h1, h2, h3 {
    color: #f5f5f5;
}

/* Change the link color */
a {
    color: #00a8ff;
}

/* Change the table background color */
table {
    background-color: #3f3f3f;
}

/* Change the table text color */
td, th {
    color: #f5f5f5;
}

/* Change the button background color */
button {
    background-color: #00a8ff;
    color: #f5f5f5;
}

/* Change the input background color */
input {
    background-color: #3f3f3f;
    color: #f5f5f5;
}
